# ==============================
# Airbnb Dataset - DO NOT UPLOAD
# ==============================


# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/

# ==============================
# Streamlit
# ==============================
.streamlit/secrets.toml

# ==============================
# OS / Editor
# ==============================
.DS_Store
Thumbs.db
.vscode/